{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<div class="container-fluid">
    <div class="row" id="blogs">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for blog in object_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in blog.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dmie5ezad/image/upload/v1684103082/static/images/logo.f3c1c788a906.png"
                                    alt="recipe image">
                                {% else %}
                                <img class="card-img-top" src=" {{ blog.featured_image.url }}" alt="recipe image">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ blog.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'blog_details' blog.slug  %}" class="post-link">
                                <h2 class="card-title">{{ blog.title }}</h2>
                                <h3 class="card-text">{{ blog.created_on }}</h3>
                                <h5 class="card-text">Reading time: {{ blog.read_time }}</h5>
                            </a>
                            <h3 class="card-text text-end"><i class="fas fa-heart"></i>
                                {{ blog.number_of_hearts }}</h3>
                                {% with blog.comments.count as total_comments %}
                                <strong class="text-secondary"><i class="far fa-comments"></i>
                                    <!-- Our total_comments variable goes before the closing strong tag -->
                                    {{ total_comments }}</strong>
                                {% endwith %}
                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}